/*CSS Format for the non d3 elements.*/
body
{
  max-width: 2000px;
  max-height: 2000px
  margin: 25px 50px 25px 50px;
  font-family: Verdana, Geneva, sans-serif;
  text-align: justify;
  text-justify: inter-word;
}
header
{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color: white;
  border-bottom: 1px solid rgb(94,94,94);
  opacity: 0.9;

}

.logo_space img
{
  width: 30%;
  height: 30%;
  margin-left: 5px;
  padding-right: 10px;
  margin: 20px 20px 20px 20px;

}

h1 {
  font-size: 50px;
  margin: 20px 20px 20px 20px;
  color: rgb(94,94,94);
  font-weight:normal;
  text-align: left;
}
h2 {
  font-size: 30px;
  margin: 0px 50px 0px 50px;
}
h3 {
  font-size: 20px;
  margin: 0px 50px 0px 50px;
}
h4 {
  font-size: 10px;
  margin: 0px 50px 0px 50px;
}

div{
/*    border: 1px solid black;*/
}

div.graph_area{
  display: flex;
  flex-direction: row;
  max-width: 90%;
  max-height: 90%;
  margin: 0px 50px 0px 50px;
/*  background-color: #e9e9e9;
  border: 1px solid black;*/
}

div.controls_area{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 90%;
  max-height: 90%;
  margin: 10px 50px 10px 50px;
/*  border: 1px solid black;*/
}

.graph1_area{
  z-index: 1;
}

.graph2_area{
  z-index: 2;
}

.graph3_area{
  z-index: 3;
}

.graph4_area{
  z-index: 4;
}

p
{
  font-size: 20px;
  margin: 20px 20px 20px 20px;
}

p.controls_area
{
  font-size: 15px;
  margin: 0px 0px 0px 0px;
}

svg
{
  max-width: 100%;
  max-height: 100%;
}

rect.color_this
{
  fill: #57bf9d;
}

rect.dont_color_this
{
  fill: #e5f7ff;
}

.select
{
  justify-content: center;
}
